@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(background.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

body::before{
    background: rgb(0,0, 0, .5);
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: absolute;
}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 10;
}

.login-body{
    background: rgb(0,0, 0, 0.75);
    z-index: 90;
    border-radius: 10px;
    padding: 60px;
    position: relative;
    max-width: 450px;
    margin-left: 50%;
    box-sizing:border-box;
    transform: translateX(-50%);
}

.login-body h2{
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.login-body input{
    height: 50px;
    width: 100%;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login-body input:hover{
    background-color: #444;
}

.input-box{
    margin-bottom: 25px;
}

.login-body button{
    color: #fff;
    background-color: #e50914;
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.login-body button:hover{
    background-color: #ff525b;
    cursor: pointer;
}

.support{
    display: flex;
    justify-content: space-between;
    color: #b3b3b3;
    margin-bottom: 5px;
    font-size: 12px;
}

.support input{
    width: 15px;
    height: 15px;
}

@media screen and (max-width:700px) {
    .login-body{
        width: 100%;

    }
    
}